* {
  box-sizing: border-box;
  font-family: Montserrat;
}

@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  width: 80%;
}

main {
  position: relative;
  top: 70px;
}

section {
  padding: 50px 30px;
}

.theme-button {
  background: #F9D435;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
  border: 0px;
  color: white;
  margin: 10px;
}

.theme-button:hover {
  animation: swing 1s ease-out;
}

.section-name, .section-description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.section-name {
  color: black;
  font-size: 27px;
  margin-bottom: 10px;
}

.section-description {
  color: #aaaaaa;
  font-size: 12px;
  margin-top: 0;
}

header {
  background: black;
}

header nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 70px;
  background: black;
  font-size: 11px;
  font-family: Montserrat;
}

header nav ul {
  position: relative;
  margin-bottom: 0;
  height: 70px;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

header nav ul .logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

header nav ul li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  height: 70px;
  display: inline-block;
  transition: .2s ease-out;
}

header nav ul li a {
  padding: 0 5px;
  line-height: 65px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s ease-out;
}

header nav ul li:hover {
  border-bottom: 4px solid #F9D435;
}

header nav ul li:hover a {
  color: #F9D435;
  text-decoration: none;
}

.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  width: 100%;
  min-height: 400px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  padding: 30px;
}

.hero h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
}

.hero .slogan1 {
  color: white;
}

.hero .slogan2 {
  color: #F9D435;
}

.hero h2 {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
}

.services {
  background: black;
}

.services .section-name {
  color: white;
}

.services .row {
  border-right: 1px solid #aaaaaa;
}

.services .service {
  padding: 5px;
  text-align: center;
  border-left: 1px solid #aaaaaa;
  height: 100%;
}

.services .service a {
  text-decoration: none;
}

.services .service a img {
  height: 55px;
}

.services .service a h3 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  transition: .2s ease-out;
}

.services .service a p {
  color: #aaaaaa;
  font-size: 12px;
}

.services .service a:hover h3 {
  color: #F9D435;
}

.services .service a:hover img {
  animation: swing 1s ease-out;
}

.our-projects {
  text-align: center;
}

.our-projects .row {
  padding: 1px;
}

.our-projects .projects-menu {
  padding: 5px 20px;
  background: #eeeeee;
  width: 60%;
  min-width: 500px;
  margin: 20px auto;
  border-radius: 60px;
  border: 1px solid #cccccc;
}

.our-projects .projects-menu button {
  background: transparent;
  border: none;
  border-right: 1px solid #cccccc;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  transition: .2s ease-out;
}

.our-projects .projects-menu button:hover {
  background: #dddddd;
}

.our-projects .projects-menu .no-border {
  border: none;
}

.our-projects .theme-button {
  margin: 20px;
}

.our-team {
  text-align: center;
  background: url("../images/team/team-bg.png");
  background-size: cover;
}

.our-team .section-name {
  color: white;
}

.our-team .team-card {
  padding: 10px;
}

.our-team .team-card div {
  background: white;
  padding: 30px 10px 20px 10px;
  border-radius: 3px;
}

.our-team .team-card div a span {
  width: 25px;
  height: 25px;
  background: #cccccc;
  border-radius: 50%;
  padding-top: 6px;
  color: white;
}

.our-team .team-card div a span:hover {
  color: black;
}

.happy-clients {
  text-align: center;
  background: #f3f3f3;
  border-bottom: 1px solid #cccccc;
}

.happy-clients h3 {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.happy-clients h4 {
  font-weight: 600px;
  font-size: 16px;
}

.happy-clients .opinion {
  background: #f3f3f3;
  border-bottom: 1px solid #cccccc;
}

.logos {
  padding: 40px 0;
  border-bottom: 1px solid #cccccc;
}

.logos .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.logos img {
  height: 30px;
}

.price {
  background: #dddddd;
  text-align: center;
  border-bottom: 1px solid #aaaaaa;
}

.price .price-card {
  padding: 10px;
}

.price .price-card h3, .price .price-card h5 {
  text-transform: uppercase;
}

.price .price-card h3 {
  font-size: 18px;
  font-weight: 600px;
}

.price .price-card h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 3px;
}

.price .price-card h5 {
  font-size: 12px;
  color: #666666;
  margin-top: 0;
}

.price .price-card ul {
  list-style-type: none;
  padding-left: 0;
}

.price .price-card ul li {
  padding: 3px;
  font-size: 10px;
  color: #aaaaaa;
}

.price .price-card div {
  background: white;
  padding: 10px 3px;
  border-radius: 3px;
}
/*# sourceMappingURL=style.css.map */