.map {
    min-height: 400px;
    background: url('../images/map.png');
    background-size: cover;
    background-position: center;
    .data {
        background: white;
        padding: 30px ;
        height: 300px;
        div {
            font-size: 12px;
            height: 45px;
            position: relative;
            margin-left: 35px;
            span {
                font-size: 15px;
                width: 30px;
                height: 30px;
                margin: 10px;
                background: #aaaaaa;
                padding: 10px;
                border-radius: 50%;
                position: absolute;
                top: -18px;
                left: -50px;
            }
        }
    }
}

@media (max-width: 380px) {
    .map .data div {
        font-size: 11px;
    }
}