.our-projects {
    text-align: center;
    .projects-menu {
        padding: 0 20px;
        background: #aeaeae;
        width: 60%;
        height: 60px;
        font-weight: 600;
        min-width: 650px;
        margin: 30px auto;
        border-radius: 60px;
        border: 1px solid #cccccc;
        color: #000;
        ul {
            list-style-type: none;
            height: 60px;
            padding: 5px 0;
            margin: 0;
            text-transform: uppercase;
            li {
                display: inline-block;
                height: 100%;
                padding: 15px 15px 5px 10px;
                border-right: 1px solid #cccccc;
                border-bottom: 4px solid #aeaeae;
                &:hover {
                    border-bottom: 5px solid $themeColour;
                }
            }
            .no-border {
                border: none;
            }
        }
    }
    .projects-thumbnails {
        .project {
            position: relative;
            padding: 10px;
            .hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                color: #fff;
                padding: 30px 20px;
                font-size: 14px;
                opacity: 0;
                transition: .1s ease-in;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
    .theme-button {
        margin: 20px;
    }
}

@media (max-width: 1400px) {
    .our-projects .thumbnails-container {
        width: 100%;
    }
}
    
@media (max-width: 1200px) {
    .our-projects .thumbnails-container {
        width: 550px;
    }
}

@media (max-width: 986px) {
    .our-projects {
        .container {
            width: 100%;
        }
        .projects-menu {
            font-size: 12px;
            min-width: 550px;
        }
    }
}

@media (max-width: 660px) {
    .our-projects .projects-menu {
        display: none;
    }
}

