// global styles
* {
    box-sizing: border-box;
    font-family: Montserrat;
}

// hero

header {
    .hero {
        background-image: url('../images/hero.png');
        background-size: cover;
    }
}

// about us

// services

// our projects

// our team

// happy clients

// price

// premium 

// some facts

// contact us

// footer